doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    
  body
    
    div#result1
      article.filmsa1 
      
        div(class="results1", id=`${results1.Title}`)
          p.title #{results1.title}
          img.filmsimg(src=`${results1.Poster}`, alt="movie.img")
          p Year:
          p.year #{results1.Year}
          p Plot: 
          p.imdbId #{results1.Plot}
          p Director : 
          p.Type #{results1.Director}
           p Genre:
          p.year #{results1.Genre}
          p Duration: 
          p.imdbId #{results1.Runtime}
          p Actors:
          p.year #{results1.Actors}
          p Rating : 
          p.Type #{results1.imdbRating}
          button(id=`favoritos`)="favoritos"
    include ./footer.pug 
    script(src='/js/main.js')   