doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title Document
    body.cuerpo
        section.films__section
            article.films__a1 
                p.title #{films.Title}
                    img.films__img(src=`${films.Poster}`, alt="movie.img")
                article.films__a2
                    p Director: 
                    p.director #{films.Director}
                    p Year:
                    p.year #{films.Year}
                    p Actors: 
                    p.actors #{films.Actors}
                    p Rating: 
                    p.points #{films.imdbRating}
                    p Rewards:
                    p.awards #{films.Awards}
                    p Description:
                    p.description #{films.Plot}        