doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/styles.css")
    title Detalle películas
    
  body#resultadospelis
    
    div#result
      each value, index in results
        div(class="results", id=`${results[index].Title}`)
          p Title:
          p.title=`${results[index].Title}`
          img.filmsimgres(src=`${results[index].Poster}`, alt="movie.img")
          p Year:
          p.year= `${results[index].Year}`
          p Type :
          p.Type=`${results[index].Type}`
          p imdbId : 
          p.imdbId= `${results[index].imdbID}`
          button(class="detail" id=`detalle${index}`)="Detalle"
          //button(id=`favoritos${index}`)="favoritos"
          button(class="addFavBtn" value=imdbID) Añadir a favoritos
          //button(id="add-to-favorites" class="")="Añadir a mis películas"
    // const currUserId
    script(src='/js/main.js')   
       
