doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    script(src='./index.js')
  body
    form#form12(action='/api/search' method="GET")
      label(for='search') Search the site:
      input#search(type='search' name='search',placeholder="pone pelicula")
      input#enviarform1(type='submit' value='Enviar' )
      br
    div#result
    //-   article.filmsa1 
    //-     p.title #{results[0].Title}
    //-     img.filmsimg(src=${results[0].Poster}, alt="movie.img")
    //-   article.filmsa2
    //-     p Title: 
    //-     p.director #{results[0].Title}
    //-     p Year:
    //-     p.year #{results[0].Year}
    //-     p imdBID: 
    //-     p.actors #{results[0].imdbID}
    //-     p Type : 
    //-     p.points #{results[0].Type}
    //- script(src='/js/main.js')